
p {
    color:rgb(6, 7, 105);
    font-size:200%;    
}

.vv {
    color:rgb(255, 0, 64);
    font-size:100%;     
}

button.t0 {
    color: darkgrey;
    font-size: 100%;
}
button.t1 {
    color:chocolate;
    font-size: 400%;
    
}
p.kk1 {
    background-color: chartreuse;
    font-size: 200%;
    font-style: italic;
}