
p {
    color:rgb(6, 7, 105);
    font-size:200%;    
}

.vv {
    color:rgb(255, 0, 64);
    font-size:100%;     
}

button.t0 {
    color: darkgrey;
    font-size: 100%;
}
button.t1 {
    color:chocolate;
    font-size: 400%;   
}
div.d1 {
    background-color: cyan;
    border-width: 4px;
    border-style: dotted;
}
div.d2 {
    background-color:white;
    border-width: 0px;
    border-style: hidden;
}